body{
    margin: 0;
    font-family: sans-serif;
}

.part1{
    background-color: rgb(62, 120, 146);
    color: white;
    height: 100vh;
    width: 60%;
    padding-right: 15px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

h1 {
  font-size: 40px;
}

.tous{
    display: flex;
}

input {
  font-weight: bold;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  font-size: 14px;
}

#button1{
    font-weight: bold;
    height: 45px;
    width: 170px;
    color: white;
    background-color: #d3a423;
    border-bottom: 5px solid #6b5007;
    border-left: 5px solid #6b5007;
    border-top: 5px solid #cec17b;
    border-right: 5px solid #cec17b;
    margin-top: 10px;
}

#button1:hover{
    background-color: #4b5257;
    border-bottom: 5px solid #292a2b;
    border-left: 5px solid #292a2b;
    border-top: 5px solid #777879;
    border-right: 5px solid #777879;
}

#button2{
    font-weight: bold;
    height: 45px;
    width: 170px;
    color: white;
    background-color: #d3a423;
    border-bottom: 5px solid #6b5007;
    border-left: 5px solid #6b5007;
    border-top: 5px solid #cec17b;
    border-right: 5px solid #cec17b;
    margin-top: 10px;
}

#button2:hover{
    background-color: #4b5257;
    border-bottom: 5px solid #292a2b;
    border-left: 5px solid #292a2b;
    border-top: 5px solid #777879;
    border-right: 5px solid #777879;
}

#saisie{
    box-shadow: 1px 2px 1px 1px rgba(32, 32, 32, 0.75);
}

#participant{
    box-shadow: 1px 2px 1px 1px rgba(32, 32, 32, 0.75);
    margin: 5px;
}

.part2{
  display: flex;
  justify-content: center;
  width: 100%;
}

.part2 h1{
  color:  rgb(62, 120, 146);
}
